.board {
    height: 750px;
    width: 750px;
    border: solid thin blue;
}

.row {
    height: 30%;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.card {
    height: 80%;
    width: 24%;
    border: solid 1px red;
    margin: auto;
}

.shape {
    margin : 2px;
}

  .purple{
      background-color: purple;
      border: 3px solid purple;
  }

  .green{
    background-color: green;
    border: 3px solid green;
}

.red{
    background-color: red;
    border: 3px solid red;

 }


  .outlined{
      background-color: white;
  }

  .striped{
      opacity: 0.5;

  }

 /* HeartShape */

.heart {
    position: relative;
    width: 25%;
    height: 25%;
  }
  .heart:before,
  .heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
  }
  .heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
  }

  /* Circle */


  .circle {
    width: 25%;
    height: 25%;
    border-radius: 50%
  }

  /* Diamond */

  .diamond {
    /* border-width: 0 25px 25px 25px; */
    height: 25%;
    width: 25%;
    box-sizing: content-box;
    position: relative;
    border-radius: 25%
    /* margin: 20px 0 50px 0; */
  }
  .diamond:after {
    content: "";
    position: absolute;
    top: 25px;
    left: -25px;
    width: 0;
    height: 0;
    border-width: 70px 50px 0 50px;
  }
