body

.board {
    height: 750px;
    width: 750px;
    border: solid thin blue;
}

.row {
    height: 30%;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.card {
    height: 80%;
    width: 24%;
    border: solid 1px red;
    margin: auto;
}